@font-face {
    font-family: 'Samim';
    src: url('../fonts/samim-font/Samim.eot');
    src: url('../fonts/samim-font/Samim.eot?#iefix') format('embedded-opentype'),
         url('../fonts/samim-font/Samim.woff2') format('woff2'),
         url('../fonts/samim-font/Samim.woff') format('woff'),
         url('../fonts/samim-font/Samim.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Samim';
    src: url('../fonts/samim-font/Samim-Bold.eot');
    src: url('../fonts/samim-font/Samim-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/samim-font/Samim-Bold.woff2') format('woff2'),
         url('../fonts/samim-font/Samim-Bold.woff') format('woff'),
         url('../fonts/samim-font/Samim-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Samim';
    src: url('../fonts/samim-font/Samim-Medium.eot');
    src: url('../fonts/samim-font/Samim-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/samim-font/Samim-Medium.woff2') format('woff2'),
         url('../fonts/samim-font/Samim-Medium.woff') format('woff'),
         url('../fonts/samim-font/Samim-Medium.ttf') format('truetype');
    font-weight: 500;
}

body{
    font-family: 'Samim';
}


label.error{
    color: rgb(206, 11, 228);
    font-size: 14px;
    padding-top: 10px;
}

a.dropdown-item{
    font-family: 'samim';
    font-size: 17px;
}

.col-form-label, .col-form-label-lg, .col-form-label-sm{
    font-size: inherit !important;
}

.header-navbar .navbar-container ul.navbar-nav li a.dropdown-user-link .user-name{
    font-size: inherit !important;
    font-family: 'samim';
    /* font-size: 17px; */
}

.navigation{
    font-size: inherit !important;
    font-family: 'samim';
}

.alert-success{
    background: rgb(188, 255, 188) !important;
    color: #0b7c3e !important;
}

.alert-warning{
    background: rgb(255, 237, 188) !important;
    color: #8c4e14 !important;
}