{% extends "../layout/base.html" %}

{% block navbar %}
<div class="col-12">
    <h2 class="float-start mb-0">
        {{t('user.profile')}}
    </h2>
    
</div>
{% endblock %}

{% block body %}

<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    {% AlertDanger "err1" %}
                        {{ t('user.profile_validation_first_name')}}
                    {% endAlertDanger %}

                    {% AlertDanger "err2" %}
                        {{ t('user.profile_validation_last_name')}}
                    {% endAlertDanger %}

                    {% AlertDanger "err3" %}
                        {{ t('user.profile_validation_empty_email')}}
                    {% endAlertDanger %}

                    {% AlertDanger "err4" %}
                        {{ t('user.profile_validation_email')}}
                    {% endAlertDanger %}

                    {% AlertDanger "err5" %}
                        {{ t('user.profile_validation_pass2_is_empty')}}
                    {% endAlertDanger %}

                    {% AlertDanger "err6" %}
                        {{ t('user.profile_validation_pass3_is_empty')}}
                    {% endAlertDanger %}

                    {% AlertDanger "err7" %}
                        {{ t('user.profile_validation_pass3_is_not_match')}}
                    {% endAlertDanger %}

                    {% AlertDanger "-1" %}
                        {{ t('user.profile_validation_email_exist')}}
                    {% endAlertDanger %}

                    {% AlertDanger "-2" %}
                    {{ t('user.profile_validation_current_password_is_not_correct')}}
                    {% endAlertDanger %}

                    {% AlertDanger "csrf_token_invalid" %}
                    {{ t('user.csrf_token_invalid')}}
                    {% endAlertDanger %}

                    {% AlertSuccess "success" %}
                        {{ t('user.success_changing_profile')}}
                    {% endAlertSuccess %}
                    <form class="form form-horizontal" id="form_add" method="post" enctype="multipart/form-data">
                        {{ csrf_token() }}
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="parent_id">
                                            {{t('category.parent_id')}}
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <select name="parent_id" id="parent_id" class="form-control">
                                            <option value="">----</option>
                                            <option value="0">{{t('category.main')}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="title">
                                            {{t('category.title')}} :
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" id="title" class="form-control" name="title"  value="{{ form.title}}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="slug">
                                            slug :
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" dir="ltr" id="slug" class="form-control" name="slug"  value="{{ form.slug}}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="title_seo">
                                            {{t('title_seo')}} :
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" id="title_seo" class="form-control" name="title_seo"  value="{{ form.title_seo}}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="status">
                                            {{t('status')}}
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <select name="status" id="status" class="form-control">
                                            <option value="">{{t('status_enable')}}</option>
                                            <option value="">{{t('status_disable')}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="description_seo">
                                            {{t('description_seo')}} :
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <textarea style="height: 120px;" type="text" id="description_seo" class="form-control" name="description_seo" >{{ form.description_seo}}</textarea>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-primary">{{t('save')}}</button>
                                <button type="reset" class="btn btn-danger" onclick="redirect(APP_URL)">{{t('back')}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}


{% block js %}
    <script src="{{ asset_url('js/jquery.validate.min.js')}}"></script>
    <script src="{{ asset_lang_url('category/add.js')}}"></script>  
    <script src="{{ asset_url('controllers/category/add.js')}}"></script>    
    <script src="{{ asset_lang_url('home.js')}}"></script>
{% endblock %} 